@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: linear-gradient(68deg, #2a0379 16.62%, #2d2230 85.61%);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-imagem{
    height: 6vw;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-size: 2vw;
    font-weight: 400; 
}
.main{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;

}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-texto{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-texto-titulo{
    font-family: 'Righteous', sans-ser;
    font-weight: 400;
    font-size: 7vw;
    color: #FFF2E7;
}
.conteudo-principal-texto-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #ECD6C4;
    font-size: 3vw;

}
.conteudo-principal-texto-botao{
    background-color: #ECD6C4;
    width: 20vw;
    height: 6vw;
    border: none;
    box-shadow: 4px 5px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #2F2325;
    font-size: 3vw;
}
.conteudo-principal-texto-botao:hover{
    background-color: #5f5d5c;
    transition: 0.5s;
}
.conteudo-principal-imagem{
    height: 30vw;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px
}

.conteudo-secundario-h3{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', sans-ser;
    font-weight: 400;
    font-size: 3vw;
    color: #FFF2EF;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 1,7vw;
    color: #ECD6C4;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;

}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0px auto;
}